



// Place all the styles related to the assignments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.input_box_assignment { 
width: 390px; 
height: 40px; 
border: 1px solid purple; 
}


#SubmitAssignmentContainer{


background: rgba(0, 0, 0, .45);
width: 700px;
height: 400px;
margin-left: 360px;
overflow-y: scroll;
}


#SubmitAssignmentContent{


color: white;
width: 700px;
height: 400px;
margin-left: 100px;
font-family: AlexandriaFLF;
font-size: 30px;
}


ul {
    list-style: none;
}

#h3 {

    margin:0px;
}

#SchoolNameAssTitle    {

    margin: 0px;
    padding: 0px;
    font-family: AlexandriaFLF;
    font-size: 30px;
    color: #140029;
    float: left;
}

#CourseNameAssTitle    {

     margin: 0px;
    padding: 0px;
    font-family: AlexandriaFLF;
    font-size: 30px;
    color: #5C007A;
    float: left;
}

#AssignmentNameAssTitle    {

     margin: 0px;
    padding: 0px;
    font-family: AlexandriaFLF;
    font-size: 30px;
    color: #A319D1;
    float: left;
}

#AssTitles{
    height: 60px;    
    width: 625px;
    padding-top: 0px;
    margin-top: 0px;
    margin-left:auto;
    margin-right: auto;

}

#assLeft, #assRight {
	height: 650px;
	width: 48%;
	margin-left: 1%;
	float: left;

}

#assLeft li {
	
	height: auto;
	
}
