// Place all the styles related to the assignments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#ass-spotlight-container #ass-chat-container {
	background: red;
	margin: 0;
	width: 49%;
	float: left;
}


