<h1> Listing Assignments </h1>

<table>
    <tr>
        <th>Title</th>
    </tr>

    <% @assignments.each do |assignment| %>
        <tr>
            <td><%= assignment.name %></td>
        </tr>
    <% end %>
</table>
