extends layout

block content
	ul#AssCourseTitles
		li
			h3#SchoolNameCourseTitle= school
		li
			h3#CourseNameCourseTitle= course.name
		li
			h3#AssignmentNameAssTitle= ass.name
	#assLeft
		p#TopPostsTitle Top Posts 
			
	#assRight
		#ChatTitle Chat 
		form.message_post(action='/messages', accept-charset='UTF-8', method='post')
			p
				label(for='message')
				br
				input#message(placeholder='Enter chat message!!', type='text', name='message')
			p
				input(type='submit', name='commit', value='Send')
	#AllAssignmentsLink
		a(href='/' + school + '/' + course.name) Back to assignment list

