extends layout

block content
	ul#CourseTitles
		li
			h3#SchoolNameCourseTitle= school
		li
			h3#CourseNameCourseTitle= course

		#AssignmentsContainer
			ul#links
				if asses
					each ass in asses
						li.AssignmentElement
							a(href="something")= ass.name
				else
					li.AssignmentElement
						| No assignments yet! 
						br
						| Click New Assignment to get started
		#NewAssignmentLink
			a(href='/'+school+'/'+course+'/new') + New Assignment

