@font-face {
font-family: NexaLight;
src: url("/fonts/AlexandriaFLF-Bold.ttf");
}


a{
text-decoration: none;
color: inherit;
}

#logo {
    padding-top: 45px;
    padding-left: 45px;
    height: 120px;
    float: left;

}

h2 {
	font-family: AlexandriaFLF;
    color: black;
    font-size : 70px;
    display: inline;
}
body {
    margin:0;
    padding:0;
    height:100%;
    }
#container {
    
    min-height:100%;
    position:relative;
}


#content {
    margin-left: 400px;
    margin-top: 120px;
    overflow:auto;
    padding-bottom: 60px; /* must be same height as the footer */
      

}

#footer {
    background:#000;
    background: rgba(0,0,0,0.5);
    width:100%;
    position: relative;
    height: 70px;
    clear:both;


}

#footer-content {
    width: 50%;
    margin-bottom: 0px;
    color: white;
    padding-top: 20px;
    padding-bottom: 0px;
    padding-left: 30%;
    font-size: 14px;
}



#footer-links li
{
    
    list-style: none;
    float: left;
    width: 200px;
    clear: none;

}





#intro-description-content {
    font-size: 18px;
    font-family: AlexandriaFLF;
    width: 840px;
    color: black;
    padding: 10px;
    left: 300px;
    margin: 0px;
}



html { 
	margin: 0;
    padding: 0;
    height: 100%;
    background-size: cover;
	background-repeat: no-repeat;
}

#GRADIENT{

background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 25%, rgba(255,255,255,0.5) 90%, rgba(255,255,255,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(25%,rgba(255,255,255,1)), color-stop(90%,rgba(255,255,255,0.5)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 25%,rgba(255,255,255,0.5) 90%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 25%,rgba(255,255,255,0.5) 90%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 25%,rgba(255,255,255,0.5) 90%,rgba(255,255,255,0) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 25%,rgba(255,255,255,0.5) 90%,rgba(255,255,255,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */


}


