<!DOCTYPE html>
<head>
  <title>We So Classy</title>
  <link rel="stylesheet" type="text/css" href="/css/layout.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<html style="background-image: url(/images/bgs/black.png);">
<div id ="GRADIENT">

   <body>
 <a href ="/"> <img id = "logo" src ="/images/logo/wsc.svg"></img> </a>
    <p id = "intro-description-content"> Chat with your classmates - Connect and Colloborate - Create a Community  </p>

<!-- <div id="container"> -->
        <div id="content">
            <%= yield%>
        </div><!-- #content -->

        <div id="footer">
            <div id ="footer-content">
                <ul id = "footer-links">
                    <li>CONTACT</li>
                    <li>FAQ</li>
                    <li>ABOUT</li>
                </ul>
            </div>
        </div><!-- #footer -->

</div><!-- #wrapper -->

</body>
</div>
</html>
