<!DOCTYPE html>
<html>
<head>
  <title>Classyapp</title>
  <link rel="stylesheet" type="text/css" href="/css/layout.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<h1> SdUP BITCHES </h1>

<body>

<%= yield %>

</body>
</html>
