alink {
   color:inherit;
    text-decoration: none;
  }

a:hover{

    color: #5C007A;
}

#CourseTitles{
    margin-top: 0px;
    margin-left: 20vw;
    margin-bottom: 0;
    height: 2vw;
    width: 92vw;
    font-size: 2em;
    font-family: NexaLight;
    padding: 0px;
    }



#SchoolNameCourseTitle    {
    color: #140029;
    float: left;
}

#CourseNameCourseTitle    {

    color: #5C007A;
    float: left;
}


.AssignmentElement {

    font-family: NexaLight;
    font-size: 1.3em;
    margin-left: 10vw;
    padding: 1vh;
    color: black;
}


#AssignmentsContainer {
    background: rgba(255, 255, 255, .35);
    width: 55vw;
    float: left;
    margin-left: 20vw;
}

#links {

    height: 50vh;
    margin-top: 10px; 
    overflow-y: scroll;
}





#NewAssignmentLink {

     font-family: NexaLight;
    font-size: 1em;
    color:rgba(160, 120, 255, 1);
    border: 4px solid rgba(255, 255, 255, 1);
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,100,0,.2),
            0 0 16px rgba(0,100,0,.2); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,100,0,.2),
            0 0 16px rgba(0,100,0,.2); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,.2),
            0 0 16px rgba(0,0,0,.2); 
    padding: 7px;
    background: rgba(255,255,255,.7);
    clear: both;
    margin-left: 20vw;
    padding: 5px;
       width: 11vw;
        border-radius: 15px;
}

#NewAssignmentLinkBack {

    clear: both;
    margin-left: 20vw;
    padding: 5px;
    background: rgba(255, 255, 255, .75);
    width: 15vw;
}
