alink {
   color:inherit;
    text-decoration: none;
  }

a:hover{

    color: #5C007A;
}

#CourseTitles{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 4vw;
    margin-bottom: 0;
    height: 4vw;
    width: 52vw;
    font-size: 2em;
    font-family: NexaLight;
    padding: 0px;
    }



#SchoolNameCourseTitle    {
    color: #140029;
    float: left;
}

#CourseNameCourseTitle    {

    color: #5C007A;
    float: left;
}


.AssignmentElement {

    font-family: NexaLight;
    font-size: 1.3em;
    margin-left: 10vw;
    padding: 1vh;
    color: black;
}


#AssignmentsContainer {
    background: rgba(255, 255, 255, .35);
    width: 55vw;
    float: left;
}

#links {

    margin-top: 10px; 
    overflow-y: scroll;
}

#NewAssignmentLink {
    
     font-family: NexaLight;
    font-size: 1.2em;
    color: #5C007A;
    margin-left: 10px;
}

#NewAssignmentLinkBack {
    
 float: left;
    padding: 5px;
    background: rgba(255, 255, 255, .75);
}
