a:link {
   color:inherit;
    text-decoration: none;
  }

a:hover{

    color: rgba(180, 140, 255,1);
}
#SchoolNameCourseTitle    {

    margin: 0px;
    padding: 0px;
    font-family: NexaLight;
    font-size: 30px;
    color: #140029;
    float: left;
}

#CourseNameCourseTitle    {

     margin: 0px;
    padding: 0px;
    font-family: NexaLight;
    font-size: 30px;
    color: #5C007A;
    float: left;
}


#CourseTitles{
    height: 60px;
    width: 425px;

}

.AssignmentElement {

    font-family: NexaLight;
    font-size: 22px;
    padding: 11px;
    margin-left: 190px;
    color: black;
}


#AssignmentsContainer {
background: rgba(255, 255, 255, .35);
width: 700px;
float: left;
margin-left:37px;
}





#links {

    width: 700px;
    height: 300px;
    margin-left: -50px;
    margin-top: 10px; 
    overflow-y: scroll;
}

#NewAssignmentLink {
    
     font-family: NexaLight;
    font-size: 26px;
    color: #5C007A;
    margin-left: 10px;
}



#NewAssignmentLinkBack {
    
    margin-top: 290px;
    height: 35px;
    float: left;
    width: 270px;
    padding-left: 0px;
    background-color: white;
}
