<h1> Listing Assignments </h1>

<ul>
	<li> <%= @school.short + "-" + @school.city %> </li>
	<li> <%= @course.name %> </li>
</ul>

<table>
    <tr>
        <th> Name </th>
    </tr>

		<% @ass.each do |a| %>
			<tr>
				<td><%= a.name %></td>
			</tr>
		<% end %>
</table>


