<%= form_for :assignment, url: school_course_assignments_path do |f| %>
  <div id ="SubmitAssignmentContainer">
  <div id ="SubmitAssignmentContent">
  <p>
    <%= f.label "Name of Assignment" %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.submit "New Assignment" %>
  </p>
  </div>
  </div>
<% end %>
<!-- this is the new assignment view -->
