<%= form_for :assignment, url: school_course_assignments_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
<!-- this is the new assignment view -->
